html body{
    background: #000000;
    color: white;
    margin: 0 auto;
    max-width: 1440px;
    font: 20px 'Inter', sans-serif;
    font-weight: 400;
    box-sizing: border-box;    
    scroll-behavior: smooth; 
}
.container {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 20px;
  } 
header {
    background: url(assets/img/bg.jpg);
    background-repeat: no-repeat;
    background-position: center 0;

}
.header .container{
    display: flex;
    align-items: center;
}
img {
    display: block;   
}
#logo {
   display: block;
   padding: 20px 0;
}

#logo:hover {
    filter: invert(26%) sepia(15%) saturate(638%) hue-rotate(7deg) brightness(92%) contrast(87%);
  }
nav {
    margin-left: auto;
}

.nav-list{    
    list-style: none;
    width: 500px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
a {
    text-decoration: none;
    color: white;
}
a:visited {
    color: white;
}
a:hover{
    color: #bdae72;
}

/* ****************   MAIN BLOCK   *******************/
h1, h2 {
    font-family: 'Merriweather', serif;
    font-weight: 700;  
}


main {
    display: flex;
    flex-direction: column;
}
section {
    /* border: solid 1px black; */
    text-align: center;

}

.hero {
    height: 910px;
    background: url(assets/img/bg.jpg);
    background-position: center -90px;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: left;
    position: relative;
    
}
.hero-block{
    width: 500px;
    position: absolute;
    top: 160px;
    left: 80px;
    line-height: 40px;
    
}
.hero-block h1{
    font-size: 60px;
}

.button{
    background-color: #bdae72;
    color: black;
    width: 220px;
    height: 55px;
    border: none;
    cursor: pointer;
    font-family: inherit;
}
button:hover{
    color: white;
}
.subheader {
    margin: 100px auto;
    width: 50%;
    background-image: url(assets/svg/section-title-line.svg);
    background-repeat: no-repeat;
    background-position: center;
    /* background-image: linear-gradient(to top, #000 39px, #bdae82 39px, #bdae82 41px, #000 41px); */
}

/* .section-subheader::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 0px;
    width: 290px;
    height: 2px; 
    background-color: #bdae72;
  }
  .section-subheader::after {
    content: "";
    position: absolute;
    top: 50%;
    right: 0px;
    width: 290px;
    height: 2px; 
    
    background-color: #bdae72;
  } */

.section-subheader-name {
    display: inline;
    color: #bdae72;
    font-weight: 700;  
    font-size: 40px;
    background-color: black;
    padding: 0 20px;
    
}

.skills-list {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.skill-item{
    display: flex;
    flex-direction: column;
    /* background-color: antiquewhite; */
    width: 320px;
    line-height: 36px;
    font-size: 18px;
}
.skill-item h3{
    line-height: 40px;
}
.skill-ico {
    margin: 0 auto;
}

.section>.button{
    background-color: black;
    color: #bdae72;
    border: solid 1px #bdae72;
    width: 220px;
    height: 55px;
    cursor: pointer;
    font-family: inherit;
}
.section>.button:hover{
    background-color: #bdae72;
    color: black;
}

.photo-block{
    display: flex;
    justify-content: space-evenly;
    align-content: space-between;
    flex-wrap: wrap;
    gap: 25px;
    margin-top: 60px;
}
.video-player{
    background-image: url(assets/img/video-player.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
    height: 705px;
}